@{
    ViewData["Title"] = "Donations";
}
@* 
<h5 class="display-5 text-center mb-4">@Localizer["Donations"]</h5>
<p class="text-center mb-4 pb-4"> @Localizer["DonWelcome"]</p> *@
 

<div class="container-fluid">
    <div class="row justify-content-center container-fluid">
        <div class="col-lg-10">
            <div class="section mb-4">
                   
                <h5 class="display-5 text-center pt-5">@Localizer["BankAcc"]</h5>

                <table class="table mx-auto mb-3 tbl-trr">
                    <tbody>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>OTP Bank:</strong></p></td>
                            <td class="text-center"><p class="lead" id="otpBank"><strong>5555 5555 5555 5555</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('otpBank')">Copy</button></td>
                        </tr>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>Mono Bank:</strong></p></td>
                            <td class="text-center"><p class="lead" id="monoBank"><strong>5555 5555 5555 5555</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('monoBank')">Copy</button></td>
                        </tr>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>Privat Bank:</strong></p></td>
                            <td class="text-center"><p class="lead" id="privatBank"><strong>5555 5555 5555 5555</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('privatBank')">Copy</button></td>
                        </tr>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>UkrSib Bank:</strong></p></td>
                            <td class="text-center"><p class="lead" id="ukrsibBank"><strong>5555 5555 5555 5555</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('ukrsibBank')">Copy</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>

            <div class="section mb-4 pt-5">
                <h5 class="display-5 text-center">@Localizer["Crypto"]</h5>
                <table class="table mx-auto mb-3 tbl-trr">
                    <tbody>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>BTC:</strong></p></td>
                            <td class="text-center"><p class="lead" id="btc"><strong>16ydRqiu2y9VVhaByeZD4ZxBbnsA8TRb99W</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('btc')">Copy</button></td>
                        </tr>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>ETH:</strong></p></td>
                            <td class="text-center"><p class="lead" id="eth"><strong>0xce2497a387c31c57ert257d1b00c37b4ee4c732f</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('eth')">Copy</button></td>
                        </tr>
                        <tr>
                            <td class="text-right"><p class="lead"><strong>TRC20:</strong></p></td>
                            <td class="text-center"><p class="lead" id="trc20"><strong>TUCi52wocgduyhYf621hX715ESYVgGbyy</strong></p></td>
                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('trc20')">Copy</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>

            <div class="section mb-4 pt-5">
                <h5 class="display-5 text-center mb-3">@Localizer["UAHTransfers"]</h5>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                @Localizer["Bank"] #1
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" style="">
                            <div class="accordion-body">
                                <table class="table mx-auto mb-3 tbl-trr">
                                    <tbody>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["Recipient"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>BO "FOUNDATION"</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["RecipientCode"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>212121212</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["BankName"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>PrivatBank</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["Account"]:</strong></p></td>
                                            <td class="text-center"><p class="lead" id="iban1"><strong>UA1000000000000000000000000</strong></p></td>
                                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('iban1')">Copy</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                @Localizer["Bank"] #2
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" style="">
                            <div class="accordion-body">
                                <table class="table mx-auto mb-3 tbl-trr">
                                    <tbody>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["Recipient"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>BO "FOUNDATION"</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["RecipientCode"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>212121212</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["BankName"]: </strong></p></td>
                                            <td class="text-center"><p class="lead"><strong>Monobank</strong></p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><p class="lead"><strong>@Localizer["Account"]:</strong></p></td>
                                            <td class="text-center"><p class="lead" id="iban2"><strong>UA1000000000000000000000000</strong></p></td>
                                            <td class="text-center"><button class="btn btn-starter" onclick="copyText('iban2')">Copy</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
